/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  --primary: rgb(0, 174, 255);
  --secondary: rgba(186, 206, 12, 0);
  --dark: rgb(80, 80, 80);
  --dark-plus: rgb(50, 50, 50);
}

.inner-spacing-sm {
  padding: 0.33em;
}

.inner-spacing-md {
  padding: 0.66em;
}

.inner-spacing-lg {
  padding: 1em;
}

.outer-spacing-sm {
  margin: 0.33em;
}

.outer-spacing-md {
  margin: 0.66em;
}

.outer-spacing-lg {
  margin: 1em;
}

.container {
  display: flex;
}
.container.center {
  justify-content: center;
  align-items: center;
}
.container.column {
  flex-direction: column;
}
.container.justify-center {
  justify-content: center;
}
.container.align-center {
  align-items: center;
}

label.text {
  width: fit-content;
}
label.text input {
  width: fit-content;
  background-color: var(--dark);
  border: 2px solid var(--dark-plus);
  color: #fff;
  border-radius: 5px;
  padding: 0.33em 0.55em;
}

ul,
ol {
  margin-block-start: 0;
  margin-block-end: 0;
  list-style: none;
  padding: 0;
}

body {
  color: #333;
  background: #fff;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
