* {
  --primary: rgb(0, 174, 255);
  --secondary: rgba(186, 206, 12, 0);
}

.container {
  display: flex;
}
.container.center {
  justify-content: center;
  align-items: center;
}
.container.column {
  flex-direction: column;
}
.container.justify-center {
  justify-content: center;
}
.container.align-center {
  align-items: center;
}

.draggable {
  border-radius: 4px;
  background: #fff;
  width: 150px;
  height: 150px;
  position: absolute;
  cursor: pointer;
}

.draggable:active {
  cursor: move;
}

.hide {
  transition: 0.01s;
  transform: translateX(-9999px);
}
