@import "./spacing";

.container {
  display: flex;

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }
}

label.text {
  width: fit-content;

  input {
    width: fit-content;
    background-color: var(--dark);
    border: 2px solid var(--dark-plus);
    color: #fff;
    border-radius: 5px;
    padding: 0.33em 0.55em;
  }
}

.draggable {
  border-radius: 4px;
  background: #fff;
  width: 150px;
  height: 150px;
  position: relative;
  cursor: pointer;
}
.draggable:active {
  cursor: move;
}
.hide {
  transition: 0.01s;
  transform: translateX(-9999px);
}
