.container {
  display: flex;

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }
}

.draggable {
  border-radius: 4px;
  background: #fff;
  width: 150px;
  height: 150px;
  position: absolute;
  cursor: pointer;
}
.draggable:active {
  cursor: move;
}
.hide {
  transition: 0.01s;
  transform: translateX(-9999px);
}
