.inner-spacing-sm {
  padding: 0.33em;
}

.inner-spacing-md {
  padding: 0.66em;
}

.inner-spacing-lg {
  padding: 1em;
}

.outer-spacing-sm {
  margin: 0.33em;
}

.outer-spacing-md {
  margin: 0.66em;
}

.outer-spacing-lg {
  margin: 1em;
}
